In [1]:
import pandas as pd

levels = pd.read_csv("../data/levels.csv")
sessions = pd.read_csv("../data/player_session.csv")

### Letter Count Error Detection

In [2]:
letter_count_mismatch = levels[levels["letter_count"] != levels["target_word"].str.len()]
letter_count_mismatch

Empty DataFrame
Columns: [level_id, target_word, difficulty, letter_count, estimated_duration_sec, difficulty_score]
Index: []

There are no letter_count errors in any words

### Duplicated Target Words

In [5]:
duplicates = levels[levels.duplicated("target_word", keep=False)]
duplicates.sort_values("target_word")

Empty DataFrame
Columns: [level_id, target_word, difficulty, letter_count, estimated_duration_sec, difficulty_score]
Index: []

There are no duplicated target_word in any words

### Difficulty Score and Tag Compatibility

In [9]:
inconsistent_easy = levels[
    (levels["difficulty"] == "Easy") & (levels["difficulty_score"] > 0.5)
]
inconsistent_easy

Empty DataFrame
Columns: [level_id, target_word, difficulty, letter_count, estimated_duration_sec, difficulty_score]
Index: []

### Long Completion Time on Easy Levels

In [10]:
merged = pd.merge(levels, sessions, on="level_id")
long_easy_levels = merged[
    (merged["difficulty"] == "Easy") & (merged["completion_time_sec"] > 70)
]
long_easy_levels[["level_id", "target_word", "completion_time_sec", "player_id"]]

     level_id target_word  completion_time_sec   player_id
4           0         CAT                 85.0  player_013
5           0         CAT                 78.0  player_021
6           0         CAT                 78.0  player_024
7           0         CAT                 82.0  player_025
10          0         CAT                 87.0  player_030
..        ...         ...                  ...         ...
330         9        WIND                 82.0  player_039
333         9        WIND                 85.0  player_059
341         9        WIND                 85.0  player_075
342         9        WIND                 89.0  player_076
344         9        WIND                 76.0  player_078

[85 rows x 4 columns]

### Results

Number of letter_count levels that need correction: 0

Number of duplicated words: 0

Number of easy levels with a high difficulty score: 0

Number of easy levels with a long average solution time: 85